# Dependencies
node_modules/
package-lock.json

# Tailwind CSS généré
style.css
style.css.map

# Fichiers système
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-*

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local